body,html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 0px;
    background-color: #fff;
    font-family: Arial,Verdana,Sans-serif;
}
.box{
	width: 100%;
	text-align: center;
	height: 100%;
	font-size: 1.4rem;
	position: relative;
}
h1,h2,h3,h4{
	margin: 0;
	padding: 0;
	font-size: 100%;
}
.clearfloat:after{
	content: " ";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#body-container{
	width: 100%;
	min-width: 1920px;
	margin: 0 auto;
	background: #fff;
	font-size: 16px;
}
.header-box{
	background: url(../images/head_bg.jpg) 0 0 no-repeat;
	background-size: 100% auto;
	overflow: hidden;
	width: 100%;
	min-height: 728px;
	position: relative;
}
.centent-box{
	width: 1120px;
	overflow: hidden;
	margin: -60px auto 0;
	position: relative;
	z-index: 2;
}

.foorter-box{
	width: 100%;
	padding:  50px 80px;
	color: #fff;
	font-size: 18px;
	line-height: 40px;
	background: #AF3E3E;
}
.c-name{
	font-size: 30px;
}

.intro-area img{
	display: block;
}
.intro-txt{
	
}


