body,html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 10px;
    background-color: #0ab59f;
    font-family: Arial,Verdana,Sans-serif;
}
.box{
	width: 100%;
	text-align: center;
	height: 100%;
	font-size: 1.4rem;
	position: relative;
}
h1,h2,h3,h4{
	margin: 0;
	padding: 0;
	font-size: 100%;
}
h1.tips{
	font-size:4rem;
	/*position:absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom:0;
	margin: auto;*/
	width: 100%;
	/*height: 4rem;*/
    padding-top: 4rem;
	display: block;
}
.inner-box{
    max-width: 1920px;
    min-height: 1050px;
    margin: 0 auto;
}
.inner-box img{
    display: block;
    width: 100%;
}


