<!DOCTYPE html>
<html>
	<head>
　　　　	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
　　　　	<title>{{ page.title }}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="世相,世相科技,女性消费社区">
		<meta name="description" content="北京世相科技文化有限公司致力于引导时尚的女性消费者社区">
		<link type="image/x-icon" rel="shortcut icon" href="{{ site.baseurl }}images/icon.png">
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/index.css">
	</head>
	<body>
			{{ content }}
		<script type="text/javascript" src="{{ site.baseurl }}js/jquery.js"></script>
		<script type="text/javascript">
			$(function(){
				$('head').append('<meta name="keywords" content="世相,世相科技,女性消费社区"><meta name="description" content="北京世相科技文化有限公司致力于引导时尚的女性消费者社区"><link type="image/x-icon" rel="shortcut icon" href="{{ site.baseurl }}images/icon.png"><meta name="viewport" id="viewport" content="width=device-width,initial-scale=1,user-scalable=no">');
			})
		</script>
	</body>
</html>
